package pages

import (
	"web-scrape/internal/view/layout"
	"web-scrape/internal/scraper"
	"web-scrape/internal/view/components"
)

templ Home(posts []scraper.Post) {
	@layout.Base() {
		<div id="content">
			for _, item := range posts {
				@components.Card(item)
			}
		</div>
	}
}
