package pages

import (
	"strconv"
	"web-scrape/internal/view/layout"
	"web-scrape/internal/scraper"
	"web-scrape/internal/view/components"
)

templ Home(posts []scraper.HWRPost) {
	@layout.Base() {
		<div id="content">
			for i, item := range posts {
				@components.Card(item.Title, item.Image_url, item.Url, item.Description, strconv.Itoa(i))
			}
		</div>
	}
}
